li {
  margin-left: 20px;
}
body {
    background: #f4f4f4;
    margin: 0px;
}
#root {
  margin-right: 15%;
  margin-left: 15%;
}
.item {
  margin-bottom: 2px;
}
#subtitle {
  font-style: italic;
}
blockquote {
  background: white;
  border: solid 1px black;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 4px;
}

cite {
  display: block;
  text-align: right;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.editShowContentContainer {
  display: flex;
}

.editContent {
  flex: 50%;
}

.showContent {
  flex: 50%;
}

#sideMenu {
  text-align: center;
  width: 86px;
  height: 100%;
  border-right: solid 2px black;
  background-color: #c9c9c9;
  position: fixed;
  padding-top: 10px;
}
#filterValDiv {
  text-align: center;
}
[tagselected~="true"] {
  background-color: #555555;
  filter: brightness(75%);
}
/*[isselected~="true"] {
  background-color: #CCCCCC;
  filter: brightness(90%);
}*/
[isselected~="true"] {
  border-bottom: solid 2px black;
  /*-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
  -moz-box-shadow:inset 0px 0px 0px 2px #000000;
  box-shadow:inset 0px 0px 0px 2px #000000;*/
}
[isselected~="false"] {
  border-bottom: solid 2px white;
  /*-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
  -moz-box-shadow:inset 0px 0px 0px 2px #000000;
  box-shadow:inset 0px 0px 0px 2px #000000;*/
}
#filterVal {
  width: 600px;
}
#filterVal2 {
  width: 400px;
  margin-top: 2.5px;
}
.filterTag {
  width: 64px;
  height: 64px;
}
.filterTagIcon {
  width: 16px;
  height: 16px;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: #BBBBBB;
  filter: brightness(90%);
}
/*
body {
    margin: 20px;
    background: #f5f5f5;
    -webkit-box-shadow: rgba(89, 89, 89, 0.449219) 2px 1px 9px 0px;
    -moz-box-shadow: rgba(89, 89, 89, 0.449219) 2px 1px 9px 0px;
    box-shadow: rgba(89, 89, 89, 0.449219) 2px 1px 9px 0px;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    height: 100%;
    min-height: 100%;
}
*/
.content {
    margin-left: 112px; /*86*/
    background-color: white;
    margin-bottom: 5em;
    padding-bottom: 3em;
    -webkit-box-shadow: rgba(89, 89, 89, 0.449219) 2px 1px 9px 0px;
    -moz-box-shadow: rgba(89, 89, 89, 0.449219) 2px 1px 9px 0px;
    box-shadow: rgba(89, 89, 89, 0.449219) 2px 1px 9px 0px;
    border: 0;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    height: 96%;
    min-height: 90%;
}
h1{
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
/*h1 {
    padding: 10px;
    margin: 15px;
    font-size:13pt;
    border-bottom: 1px solid lightgray;
}*/
a {
    font-weight: 500;
    perspective: 600px;
    perspective-origin: 50% 100%;
    transition: color 0.3s;
    text-decoration: none;
    color: #060606;
}
a:hover,
a:focus {
    color: #e74c3c;
}
a::before {
    background-color: #fff;
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transform: rotateX(90deg);
    transform-origin: 50% 100%;
}
a:hover::before,
a:focus::before {
    transform: rotateX(0deg);
}
a::after {
    border-bottom: 2px solid #fff;
}

.nothing {
  border: 0;
  outline: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a, .menubtn {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}

.tooldropbtn {
  cursor: pointer;
  border: none;
  outline: none;
}

.menubtn {
  display: inline-block;
}

.dropdown {
  display: inline-block;
}

.dropdown .dropbtn, .menubtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /*padding: 6px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .menubtn:hover, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
